/*************device-width: 1800px****************/

@media screen and (min-width: 1860px) {
    header .logo {
        font-size: 2rem;
        width: auto;
    }

    header nav.col ul {
        position: relative;
        top: 50%;
        transform: translate(0%, -50%);
        margin-top: 0;
    }

    nav.col ul li:last-child {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1rem;
        padding-bottom: 1.2rem;
    }

    header nav.col ul li {
        font-size: 220%;
    }

    header div.hero-text {
        width: 70%;
    }

    header div.hero-text h1 {
        font-size: 600%
    }
    header .hero-text p {
        font-size: 220%;
        line-height: inherit;
        width: 80%;
        padding: 2rem;
    }

    header .hero-text .btns .btn {
        font-size: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

}

/*************device-width: 2560px****************/

@media screen and (min-width: 2000px) {
    
    .row {
        height: auto;
        overflow: hidden;
    }
    header div.logo-nav div.logo {
        width: auto;
        font-size: 300%;
        margin: 0;
    }

    nav.col ul li {
        font-size: 220%;
        color: #f4ece6;
        z-index: 999;
    }

    nav.col ul li a {
        font-weight: 300;
        color: #f4ece6;
        z-index: 999;
    }

    nav.col ul {
        margin-top: 0;
        height: auto;
    }

    nav.col ul li:last-child {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1rem;
        padding-bottom: 1.2rem;
    }

    header .hero-text h2 {
        font-size: 600%;
    }

    header .hero-text p {
        font-size: 220%;
        line-height: inherit;
        width: 80%;
        padding: 2rem;
    }

    header .hero-text .btns .btn {
        font-size: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    section.ask-price .row .col h3 {
        font-size: 350%;

    }

    .ask-price .row .col i:before {
        font-size: 250%;
    }

    section.ask-price .row .col p {
        font-size: 2rem;
        line-height: inherit;
        letter-spacing: .5px;
        font-weight: 300;
    }

    section.ask-price .ask-price-btn-1 {
        font-size: 220%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1.3rem;
        border-radius: 40px;
        font-weight: 300;
    }

    section.nature-from-air {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-position: 85% 55%;
    }

    section.nature-from-air div.steps h2.common {
        font-size: 350%;
    }

    section.nature-from-air div.steps p {
        font-size: 2rem;
        letter-spacing: 1px;
    }

    section.nature-from-air div.steps .row .step {
        font-size: 190%;
        letter-spacing: 0.5px;
    }

    section.another-img-desc div.desc h2 {
        font-size: 350%;
    }

    section.another-img-desc div.desc p {
        font-size: 2rem;
        line-height: inherit;
        margin-bottom: 3rem;
        margin-top: 3rem;
        letter-spacing: 1px;

    }

    section.another-img-desc-1 div.desc h2 {
        font-size: 350%;
    }

    section.another-img-desc-1 div.desc p {
        font-size: 2rem;
        letter-spacing: 1px;
        line-height: inherit;
    }
    section.another-img-desc div.desc a,
    section.another-img-desc-1 div.desc a {
        font-size: 220%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1.3rem;
        border-radius: 40px;
        font-weight: 300;
    }

    section.sign-up-section {
        padding-top: 100px;
        padding-bottom: 100px;

    }

    section.sign-up-section .sign-up h2 {
        font-size: 300%;
    }

    section.sign-up-section .sign-up input {
        width: 80%;
        height: 4rem;
        font-size: 2rem;
        border-radius: 30px 0px 0px 30px;
    }
    section.sign-up-section .sign-up button {
        height: 4rem;
        border-radius: 0px 30px 30px 0px;
        font-size: 2rem;
        width: auto;
        padding-right: 15px;
    }

    ::placeholder {
        font-size: 1.5rem;

    }

    section.sign-up-section .sign-up h2 {
        margin-top: 0;
    }

    footer p {
        font-size: 2rem;
        line-height: 1.8;
        letter-spacing: 1px;
    }
    footer .social-icons div.common a i.fab {
        font-size: 3rem;
    }
}


/*************device-width: 360px****************/

@media screen and (max-width: 360px) {

    header {
        height: 100vh;
        min-height: 100vh;
    }
    header .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
        
    }
    header ul {
        display: none;
    }
    
    header ul.mobile-nav {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
        background-color: rgba(235, 114, 3, 0.9);
        position: absolute;
        top: 3.5rem;
        left: 0;
        padding-bottom: 2rem;
        box-sizing: border-box;
        z-index: 999;
        height: auto;

    }

    header .logo-nav ul li {
        border: none;
        position: relative;
        padding: 0;
        margin: 0;
        line-height: 3;
        width: 100%;
    }

    header .logo-nav ul li:last-child {
        display: block;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        width: 40%;
        height: 2.5rem;
        margin: auto;
        margin-top: 1rem;
        transition: background 1s;
    }

    header .logo-nav ul li:last-child:hover {
        background-color: #f4ece6;
    }
    
    header .logo-nav ul li:last-child:hover a {
        color: #ff5900;
    }

    header {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;

    }

    header ul li a {
        width: 100%;
        border: none;
        display: inline-block;
        position: relative;


    }

    header i.fa-bars {
        display: block;
        font-size: 150%;
        color: #e0e0e0;
        height: auto;
        position: relative;
        top: 1rem;
        cursor: pointer;
    }

    header div.hero-text {
        width: 100%;
        padding: 1rem;
        position: relative;
        top: 15rem;
        padding-top: 0;
    }
    header div.hero-text h2 {
        font-size: 2rem;
    }

    header div.hero-text p {
        font-size: 1rem;
        width: auto;
        margin: 0;
    }

    section.nature-from-air {
        padding: 1rem;
    }

    section.nature-from-air div.steps {
        width: 100%;
        position: relative;
        left: 0;
    }

    .nature-from-air .steps p {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    section.nature-from-air div.steps div.row {
        width: 100%;
        display: block;
    }

    section.nature-from-air div.steps div.row .col {
        padding-right: 0;
    }

    section.another-img-desc div.drone-shot {
        display: none;
    }

    section.another-img-desc .desc {
        padding-bottom: 2rem;
        width: 100%;
        padding-left: 1rem;
        background-image: linear-gradient(130deg, rgba(252, 13, 49, 0.6), rgba(235, 114, 3, 0.6)), url(../img/drone-view.jpg);
        background-position: center;
        background-size: cover;

    }

    section.another-img-desc .desc h2 {
        width: 100%;
        color: #f4ece6;
        font-weight: 600;
    }

    section.another-img-desc .desc p {
        width: 100%;
        letter-spacing: 1px;
        color: #f4ece6;
        font-weight: 400;
    }

    section.another-img-desc .desc a {
        margin-top: 0;
        position: relative;
        top: 1rem;
        color: #f4ece6;
        font-weight: 400;

    }

    section.another-img-desc-1 {
        display: none;
    }

    section.sign-up-section {
        background: none;
    }

    section.sign-up-section div.sign-up h2 {
        color: rgba(234, 94, 19, 0.91);
    }

    section.sign-up-section div.sign-up input {
        display: block;
        width: 12rem;
        margin-bottom: 1rem;
        border-radius: 20px;
    }

    section.sign-up-section div.sign-up button {
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(234, 94, 19, 0.91);
        color: #f4ece6;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

}




/*************device-width: 411px****************/

@media screen and (max-width: 411px) {

    header {
        height: 100vh;
        min-height: 100vh;
    }
    header ul {
        display: none;
    }

    header ul.mobile-nav {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
        background-color: rgba(235, 114, 3, 0.9);
        position: absolute;
        top: 3.5rem;
        left: 0;
        padding-bottom: 2rem;
        box-sizing: border-box;
        z-index: 999;
        height: auto;

    }

    header .logo-nav ul li {
        border: none;
        position: relative;
        padding: 0;
        margin: 0;
        line-height: 3;
        width: 100%;
    }

    header .logo-nav ul li:last-child {
        display: block;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        width: 40%;
        height: 2.5rem;
        margin: auto;
        margin-top: 1rem;
        transition: background 1s;
    }

    header .logo-nav ul li:last-child:hover {
        background-color: #f4ece6;
    }
    
    header .logo-nav ul li:last-child:hover a {
        color: #ff5900;
    }

    header {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;

    }

    header ul li a {
        width: 100%;
        border: none;
        display: inline-block;
        position: relative;


    }

    header i.fa-bars {
        display: block;
        font-size: 150%;
        color: #e0e0e0;
        height: auto;
        position: relative;
        top: 1rem;
        cursor: pointer;
    }

    header div.hero-text {
        width: 100%;
        padding: 1rem;
        position: relative;
        top: 15rem;
        padding-top: 0;
    }
    header div.hero-text h2 {
        font-size: 2rem;
    }

    header div.hero-text p {
        font-size: 1rem;
        width: auto;
        margin: 0;
    }

    section.nature-from-air {
        padding: 1rem;
    }

    section.nature-from-air div.steps {
        width: 100%;
        position: relative;
        left: 0;
    }

    .nature-from-air .steps p {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    section.nature-from-air div.steps div.row {
        width: 100%;
        display: block;
    }

    section.nature-from-air div.steps div.row .col {
        padding-right: 0;
    }

    section.another-img-desc div.drone-shot {
        display: none;
    }

    section.another-img-desc .desc {
        padding-bottom: 2rem;
        width: 100%;
        padding-left: 1rem;
        background-image: linear-gradient(130deg, rgba(252, 13, 49, 0.6), rgba(235, 114, 3, 0.6)), url(../img/drone-view.jpg);
        background-position: center;
        background-size: cover;

    }

    section.another-img-desc .desc h2 {
        width: 100%;
        color: #f4ece6;
        font-weight: 600;
    }

    section.another-img-desc .desc p {
        width: 100%;
        letter-spacing: 1px;
        color: #f4ece6;
        font-weight: 400;
    }

    section.another-img-desc .desc a {
        margin-top: 0;
        position: relative;
        top: 1rem;
        color: #f4ece6;
        font-weight: 400;

    }

    section.another-img-desc-1 {
        display: none;
    }

    section.sign-up-section {
        background: none;
    }

    section.sign-up-section div.sign-up h2 {
        color: rgba(234, 94, 19, 0.91);
    }

    section.sign-up-section div.sign-up input {
        display: block;
        width: 15rem;
        margin-bottom: 1rem;
        border-radius: 20px;
    }

    section.sign-up-section div.sign-up button {
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(234, 94, 19, 0.91);
        color: #f4ece6;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}


/*************device-width: 414px****************/

@media screen and (max-width: 414px) {

    header {
        height: 100vh;
        min-height: 100vh;
    }
    
    header ul {
        display: none;
    }

    header ul.mobile-nav {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
        background-color: rgba(235, 114, 3, 0.9);
        position: absolute;
        top: 3.5rem;
        left: 0;
        padding-bottom: 2rem;
        box-sizing: border-box;
        z-index: 999;
        height: auto;

    }

    header .logo-nav ul li {
        border: none;
        position: relative;
        padding: 0;
        margin: 0;
        line-height: 3;
        width: 100%;
    }

    header .logo-nav ul li:last-child {
        display: block;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        width: 40%;
        height: 2.5rem;
        margin: auto;
        margin-top: 1rem;
        transition: background 1s;
    }

    header .logo-nav ul li:last-child:hover {
        background-color: #f4ece6;
    }
    
    header .logo-nav ul li:last-child:hover a {
        color: #ff5900;
    }

    header {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;

    }

    header ul li a {
        width: 100%;
        border: none;
        display: inline-block;
        position: relative;


    }

    header i.fa-bars {
        display: block;
        font-size: 150%;
        color: #e0e0e0;
        height: auto;
        position: relative;
        top: 1rem;
        cursor: pointer;
    }

    header div.hero-text {
        width: 100%;
        padding: 1rem;
        position: relative;
        top: 15rem;
        padding-top: 0;
    }
    header div.hero-text h2 {
        font-size: 2rem;
    }

    header div.hero-text p {
        font-size: 1rem;
        width: auto;
        margin: 0;
    }

    section.nature-from-air {
        padding: 1rem;
    }

    section.nature-from-air div.steps {
        width: 100%;
        position: relative;
        left: 0;
    }

    .nature-from-air .steps p {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    section.nature-from-air div.steps div.row {
        width: 100%;
        display: block;
    }

    section.nature-from-air div.steps div.row .col {
        padding-right: 0;
    }

    section.another-img-desc div.drone-shot {
        display: none;
    }

    section.another-img-desc .desc {
        padding-bottom: 2rem;
        width: 100%;
        padding-left: 1rem;
        background-image: linear-gradient(130deg, rgba(252, 13, 49, 0.6), rgba(235, 114, 3, 0.6)), url(../img/drone-view.jpg);
        background-position: center;
        background-size: cover;

    }

    section.another-img-desc .desc h2 {
        width: 100%;
        color: #f4ece6;
        font-weight: 600;
    }

    section.another-img-desc .desc p {
        width: 100%;
        letter-spacing: 1px;
        color: #f4ece6;
        font-weight: 400;
    }

    section.another-img-desc .desc a {
        margin-top: 0;
        position: relative;
        top: 1rem;
        color: #f4ece6;
        font-weight: 400;

    }

    section.another-img-desc-1 {
        display: none;
    }

    section.sign-up-section {
        background: none;
    }

    section.sign-up-section div.sign-up h2 {
        color: rgba(234, 94, 19, 0.91);
    }

    section.sign-up-section div.sign-up input {
        display: block;
        position: relative;
        width: 12rem;
        margin-bottom: 1rem;
        border-radius: 20px;
    
    }

    section.sign-up-section div.sign-up button {
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(234, 94, 19, 0.91);
        color: #f4ece6;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}



/*************device-width: 768px****************/

@media screen and (max-width: 768px) {
    
    header {
        height: 100vh;
        min-height: 100vh;
    }
    
    header {
        height: 70vh;
    }
    header ul {
        display: none;
    }

    header ul.mobile-nav {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
        background-color: rgba(235, 114, 3, 0.9);
        position: absolute;
        top: 3.5rem;
        left: 0;
        padding-bottom: 2rem;
        box-sizing: border-box;
        z-index: 999;
        height: auto;

    }

    header .logo-nav ul li {
        border: none;
        position: relative;
        padding: 0;
        margin: 0;
        line-height: 3;
        width: 100%;
    }

    header .logo-nav ul li:last-child {
        display: block;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        width: 40%;
        height: 2.5rem;
        margin: auto;
        margin-top: 1rem;
        transition: background 1s;
    }

    header .logo-nav ul li:last-child:hover {
        background-color: #f4ece6;
    }
    
    header .logo-nav ul li:last-child:hover a {
        color: #ff5900;
    }

    header {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;

    }

    header ul li a {
        width: 100%;
        border: none;
        display: inline-block;
        position: relative;


    }

    header i.fa-bars {
        display: block;
        font-size: 150%;
        color: #e0e0e0;
        height: auto;
        position: relative;
        top: 1rem;
        cursor: pointer;
    }

    header div.hero-text {
        width: 100%;
        padding: 1rem;
        position: relative;
        top: 15rem;
        padding-top: 0;
    }
    header div.hero-text h2 {
        font-size: 2rem;
    }

    header div.hero-text p {
        font-size: 1rem;
        width: auto;
        margin: 0;
    }

    section.nature-from-air {
        padding: 1rem;
    }

    section.nature-from-air div.steps {
        width: 100%;
        position: relative;
        left: 0;
    }

    .nature-from-air .steps p {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

/*
    section.nature-from-air div.steps div.row {
        width: 100%;
        display: block;
    }
*/

    section.nature-from-air div.steps div.row .col {
        padding-right: 0;
    }

    section.another-img-desc div.drone-shot {
        display: none;
    }

    section.another-img-desc .desc {
        padding-bottom: 2rem;
        width: 100%;
        padding-left: 1rem;
        background-image: linear-gradient(130deg, rgba(252, 13, 49, 0.6), rgba(235, 114, 3, 0.6)), url(../img/drone-view.jpg);
        background-position: center;
        background-size: cover;

    }

    section.another-img-desc .desc h2 {
        width: 100%;
        color: #f4ece6;
        font-weight: 600;
    }

    section.another-img-desc .desc p {
        width: 100%;
        letter-spacing: 1px;
        color: #f4ece6;
        font-weight: 400;
    }

    section.another-img-desc .desc a {
        margin-top: 0;
        position: relative;
        top: 1rem;
        color: #f4ece6;
        font-weight: 400;

    }

    section.another-img-desc-1 {
        display: none;
    }

    section.sign-up-section {
        background: none;
    }

    section.sign-up-section div.sign-up h2 {
        color: rgba(234, 94, 19, 0.91);
    }

    section.sign-up-section div.sign-up input {
        display: block;
        width: 12rem;
        margin-bottom: 1rem;
        border-radius: 20px;
    }

    section.sign-up-section div.sign-up button {
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(234, 94, 19, 0.91);
        color: #f4ece6;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}

/*************device-width: 995px****************/

@media screen and (max-width: 995px) {
    header {
        height: 100vh;
        min-height: 100vh;
    }
    
    header ul {
        display: none;
    }

    header ul.mobile-nav {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
        background-color: rgba(235, 114, 3, 0.9);
        position: absolute;
        top: 3.5rem;
        left: 0;
        padding-bottom: 2rem;
        box-sizing: border-box;
        z-index: 999;
        height: auto;

    }

    header .logo-nav ul li {
        border: none;
        position: relative;
        padding: 0;
        margin: 0;
        line-height: 3;
        width: 100%;
    }

    header .logo-nav ul li:last-child {
        display: block;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        width: 40%;
        height: 2.5rem;
        margin: auto;
        margin-top: 1rem;
        transition: background 1s;
    }

    header .logo-nav ul li:last-child:hover {
        background-color: #f4ece6;
    }
    
    header .logo-nav ul li:last-child:hover a {
        color: #ff5900;
    }

    header {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;

    }

    header ul li a {
        width: 100%;
        border: none;
        display: inline-block;
        position: relative;


    }

    header i.fa-bars {
        display: block;
        font-size: 150%;
        color: #e0e0e0;
        height: auto;
        position: relative;
        top: 1rem;
        cursor: pointer;
    }

    header div.hero-text {
        width: 100%;
        padding: 1rem;
        position: relative;
        top: 15rem;
        padding-top: 0;
    }
    header div.hero-text h2 {
        font-size: 2rem;
    }

    header div.hero-text p {
        font-size: 1rem;
        width: auto;
        margin: 0;
    }

    section.nature-from-air {
        padding: 1rem;
    }

    section.nature-from-air div.steps {
        width: 100%;
        position: relative;
        left: 0;
    }

    .nature-from-air .steps p {
        font-size: 1.3rem;
        letter-spacing: 1px;
    }

    section.nature-from-air div.steps div.row {
        width: 100%;
        display: block;
    }

    section.nature-from-air div.steps div.row .col {
        padding-right: 0;
        font-size: 1.2rem;
    }

    section.another-img-desc div.drone-shot {
        display: none;
    }

    section.another-img-desc .desc {
        padding-bottom: 2rem;
        width: 100%;
        padding-left: 1rem;
        background-image: linear-gradient(130deg, rgba(252, 13, 49, 0.6), rgba(235, 114, 3, 0.6)), url(../img/drone-view.jpg);
        background-position: center;
        background-size: cover;

    }

    section.another-img-desc .desc h2 {
        width: 100%;
        color: #f4ece6;
        font-weight: 600;
    }

    section.another-img-desc .desc p {
        width: 100%;
        letter-spacing: 1px;
        color: #f4ece6;
        font-weight: 400;
    }

    section.another-img-desc .desc a {
        margin-top: 0;
        display: inline-block;
        color: #f4ece6;
        font-weight: 300;
        margin: 1rem;
        margin-left: 0;
        font-size: 1.3rem
    }

    section.another-img-desc-1 {
        display: none;
    }

    body section.sign-up-section {
        background: none;
        background-color: #f8f6f6;
    }

    section.sign-up-section div.sign-up h2 {
        color: rgba(234, 94, 19, 0.91);
    }

    section.sign-up-section div.sign-up input {
        display: block;
        width: 12rem;
        margin-bottom: 1rem;
        border-radius: 20px;
        background: white;
        border: 0.5px solid rgba(234, 94, 19, 0.91);
    }
    
    ::placeholder {
        color: rgba(234, 94, 19, 0.91);
    }

    section.sign-up-section div.sign-up button {
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(234, 94, 19, 0.91);
        color: #f4ece6;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}